body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 255, 255, 0.359);
  color: rgba(4, 41, 41, 0.93);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  padding: 1% 3%;
  background-color: transparent;
  border: 1px solid rgba(1, 15, 15, 0.4);
  border-radius: 3px;
  color: rgba(1, 15, 15, 0.4);
}
button:hover {
  border: 1px solid rgba(1, 15, 15, 0.901);
  color: rgba(1, 15, 15, 0.901);
}
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-section {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
  border-bottom:1px solid rgba(2, 34, 34, 0.148);
  /* border-radius: 10px; */
}
.right-nav-section {
  margin-left: auto;
  width: 550px;
  /* background-color: green; */
}
.right-nav-section a {
  padding: 3%;
  text-decoration: none;
  color: rgb(4, 41, 41);

}
.right-nav-section a:hover {

  text-decoration: underline;

}

.logo-section {
  margin-left: 2%;
}
.subject-section {
  display: flex;
  flex-direction: column;
  width: 20%;
  border: 1px solid rgba(2, 34, 34, 0.148);
  border-radius: 10px;
  padding: 1.5%;
  margin-top: 1%
}
.question-section {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.subject-category {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* background-color: green; */
}
.subject-category select{
  width: 100%;
  height: 1.9rem;
  border-radius: 3px;
  background-color: rgba(192, 252, 252, 0.616);
  border: 1px solid rgba(2, 34, 34, 0.148);
  margin-bottom: 3%;
}
.courses button {
  margin: 0.8%;
  padding: 2.5%;
  padding-left: 6%;
  padding-right: 6%;

}
.profile-section {
  display: flex;
  flex-direction: column;
  width: 20%;
  border: 1px solid rgba(2, 34, 34, 0.148);
  border-radius: 10px;
  padding: 1.5%;
  margin-top: 1%;
  margin-left: auto
}
.questiondisplay {
  /* background-color: green; */
  width: 60%;
  margin: 1%;
  border-radius: 10px;
  /* border: 1px solid rgba(2, 34, 34, 0.148); */

}
.topic {
  border: 1px solid rgba(2, 34, 34, 0.041);
  border-radius: 10px;
  padding: 10px;
  font-size: 2rem;
  /* color: rgba(4, 41, 41, 0.695); */
  color: rgb(2, 88, 2);
  background-color: rgba(2, 34, 34, 0.041);
  
}
.exercise {
  border: 1px solid rgba(2, 34, 34, 0.148);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
  color: rgb(4, 41, 41);
  margin-top: 1%;
  /* background-color: rgba(174, 253, 253, 0.575); */
  background-color: rgba(3, 43, 43, 0.136);


}
.numbering {
  padding-left: 2%;
  padding-right: 2%;

  /* background-color: rgba(0, 128, 0, 0.196); */
  background-color: aqua;
  border-bottom-right-radius: 70px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 0.8%;
  font-size: 1.4rem;
  font-weight: bold;

}
.ask {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: row;
  color: rgb(45, 12, 75);
}
.ans button {
  margin: 0.6%;
  display: flex;
  flex-direction: row;
  padding: 0%;
  padding-right: 2%;
  max-width: 40%;
}
.ans {
  display: flex;
  flex-direction: row;
  margin: 0% 1%;
  /* padding-bottom: 2%; */
  padding-left: 5%;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(0, 255, 255, 0.251);
  border-radius: 5px;
  /* color: blueviolet; */
  border: 1px solid rgba(4, 41, 41, 0.068);
}
.first-ans {
  border-right: 1px solid rgba(1, 15, 15, 0.4);
  padding: 8%;
  font-weight: bold;
  color: rgba(1, 15, 15, 0.607);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.first-ans:hover {
  border-right: 1px solid rgba(1, 15, 15, 0.945);
}
.ans-final {
  margin: 2%;
  color: rgba(1, 15, 15, 0.607);
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
 
  /* background-color: green; */
  /* margin-right:%; */
}
.ans-final:hover {
  color: rgba(1, 15, 15, 0.948);
}
.ans-sort-bottom {
  /* border: 1px solid green; */
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  flex-direction: row;
  padding-left: 2%;
  margin-top: 0.4%;
  /* justify-content: center; */

}
.stat {
  border:1px solid rgba(1, 15, 15, 0.099);;
  border-radius: 10px;
  padding: 0.5%;
  margin-left: 1%;
  font-size: 0.8rem;
  /* color: rgba(1, 15, 15, 0.607); */
  color: green;
  background-color: rgba(0, 255, 255, 0.251);
}
.sorting {
  border: 1px solid rgba(1, 15, 15, 0.233);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 5px;
  margin-top: 5%;
  padding: 1%;
}
.sorting input {
  padding: 2%;
  margin: 1%;
  border-radius: 3px;
  /* max-width: 40%; */
  background-color: rgba(192, 252, 252, 0.616);
  border: 1px solid rgba(4, 66, 66, 0.463);
}
.sortTitle {
  width: 100%;
  padding: 2%;
  text-align: center;
  color: rgba(0, 128, 0, 0.549);
  background-color: rgba(15, 86, 86, 0.301);
}
.fullsort {
  width: 100%;
  height: 1.9rem;
  border-radius: 3px;
  background-color: rgba(192, 252, 252, 0.616);
  border: 1px solid rgba(2, 34, 34, 0.148);
  margin-top: 3%;
}
.halfsort {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.halfsort select{
  width: 100%;
  height: 1.9rem;
  border-radius: 3px;
  background-color: rgba(192, 252, 252, 0.616);
  border: 1px solid rgba(2, 34, 34, 0.148);
  /* margin-bottom: 3%; */
  margin-top: 3%;
}
.courses {
  padding-bottom: 4%;
  border-bottom: 1px solid rgba(5, 91, 91, 0.251);
}
.footer-links a{
  padding-right:1%;
  color: rgb(2, 91, 91);
  text-decoration: none;
  
}
.footer-links {
  /* width: 100%; */
  padding-top: 1%;
  padding-bottom: 0.5%;
  border-top: 1px solid rgba(4, 41, 41, 0.505);
  text-align: center;

  
}
.footer {
  width: 100%;
  /* margin-top: 2%; */
  background-color: rgb(0, 15, 15);
  padding-top: 5%;
  color: rgb(2, 91, 91);
 
}
.next-prev {
  width: 100%;
  /* background-color: green; */
  display: flex;
}
.next {
  /* background-color: green; */
  margin-left: auto;
  border-top-right-radius: 100px 20px;
  border-bottom-right-radius: 100px 20px;
}
.prev {
  border-top-left-radius: 100px 20px;
  border-bottom-left-radius: 100px 20px;
}
.footer-top {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-evenly;
  padding-bottom: 5%;
  width: 90%;
  margin: 0% auto;

}
.footer-top-right {
  width: 27%;
  display: flex;
  flex-direction: column;
  /* background-color: green; */
}
.footer-top-middle {
  width: 22%;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
}
.footer-top-left {
  width: 12%;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.footer-form {
  width: 100%;
}
.footer-form button{
  width: 25%;
  color: rgb(0, 20, 20);
  margin-top: 2%;
  font-weight: bold;
  border: 1px solid rgb(2, 91, 91);
  background-color: rgb(2, 91, 91);
}
.footer-form textarea{
  width: 90%;
  columns: 4;
  height: 20vh;
  border-radius: 5px;
  border: none;
}

.add-question {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 128, 0, 0.351);
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;
  margin-top: 5%;
}
.addquest {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  border: 1px solid rgba(0, 128, 0, 0.414);
  padding: 1%;
  border-radius: 5px;

}
.ansA {
  margin-top: 2%;
}
.questionsubmit {
  padding-top: 4%;
  padding-bottom: 4%;
  margin-top: 2%;
  font-weight: bold;
}
.filter-ques{
  border: 1px solid rgba(0, 128, 0, 0.414);
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 2%;
  padding: 1%;
  border-radius: 5px;
}
.filter-ques select{
  margin-bottom: 2%;
  height: 2rem;
}